@page
@model PiePizza3.Pages.Admin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Pie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pie.Id" />
            <div class="form-group">
                <label asp-for="Pie.Name" class="control-label"></label>
                <input asp-for="Pie.Name" class="form-control" />
                <span asp-validation-for="Pie.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pie.ShortDescription" class="control-label"></label>
                <input asp-for="Pie.ShortDescription" class="form-control" />
                <span asp-validation-for="Pie.ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pie.LongDescription" class="control-label"></label>
                <input asp-for="Pie.LongDescription" class="form-control" />
                <span asp-validation-for="Pie.LongDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pie.Price" class="control-label"></label>
                <input asp-for="Pie.Price" class="form-control" />
                <span asp-validation-for="Pie.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Pie.IsPieOfTheWeek" /> @Html.DisplayNameFor(model => model.Pie.IsPieOfTheWeek)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Pie.Image" class="control-label"></label>
                <input asp-for="Image" type="file" accept="image/*" class="form-control" formenctype="multipart/form-data"/>
                <span asp-validation-for="Pie.Image" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
